<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.homework.lms.lecturecomment.repository.ILectureCommentRepository">
	<select id="getLectureComment" parameterType="int" resultType="com.homework.lms.lecturecomment.model.LectureComment">
	    SELECT lecture_comment_id AS lectureCommentId,
	        lecture_comment_content AS lectureCommentContent,
	        lecture_comment_star_score AS lectureCommentStarScore,
	        course_id AS courseId,
	        lecture_id AS lectureId,
	        student_id AS studentId,
	        lecture_comment_write_date AS lectureCommentWriteDate
	    FROM LECTURECOMMENT
	    <if test="lectureId !=null">
	        WHERE lecture_id = #{lectureId}
	    </if>
	</select>
	<select id="getLectureCommentIdLectureComment" parameterType="int" resultType="com.homework.lms.lecturecomment.model.LectureComment">
		SELECT lecture_comment_id AS lectureCommentId,
			lecture_comment_content AS lectureCommentContent,
			lecture_comment_star_score AS lectureCommentStarScore,
			course_id AS courseId,
			lecture_id AS lectureId,
			student_id AS studentId,
			lecture_comment_write_date AS lectureCommentWriteDate
		FROM LECTURECOMMENT
		WHERE lecture_comment_id = #{lectureCommentId}
	</select>
	<insert id="insertLectureComment" parameterType="com.homework.lms.lecturecomment.model.LectureComment">
	    <selectKey resultType="int" keyProperty="lectureCommentId" order="BEFORE">
	        SELECT NVL(MAX(lecture_comment_id),0)+1 AS lectureCommentId FROM LECTURECOMMENT
	    </selectKey>
	    INSERT INTO LECTURECOMMENT 
	        (lecture_comment_id, lecture_comment_content, lecture_comment_star_score, course_id, lecture_id, student_id, lecture_comment_write_date)
	    VALUES 
	        (#{lectureCommentId}, #{lectureCommentContent}, #{lectureCommentStarScore}, #{courseId}, #{lectureId}, #{studentId}, SYSDATE)
	</insert>
	<update id="updateLectureComment" parameterType="com.homework.lms.lecturecomment.model.LectureComment">
		UPDATE LECTURECOMMENT 
		<set>
			<if	test="lectureCommentContent != null">lecture_comment_content = #{lectureCommentContent},</if>
			<if	test="lectureCommentStarScore != null">lecture_comment_star_score = #{lectureCommentStarScore},</if>
			lecture_comment_write_date = SYSDATE
		</set>
		WHERE lecture_comment_id=#{lectureCommentId}
	</update>
	<delete id="deleteLectureComment">
		DELETE FROM LECTURECOMMENT 
		WHERE lecture_comment_id = #{lectureCommentId} and student_id = #{studentId}
	</delete>
</mapper>